body{
    background-color: honeydew;
}
.container{
    display: flex;
    background-color: black;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    align-content: center;
}

.colorBox{
    display: flex;
    height: 100px;
    width: 100px;
    background-color: white;
}

.colorBox:hover{
    background-color: blue;
}