.etch{
    background-color: red;
    padding: 32px;
    width: 600px;
    height: 600px;
    border-radius: 30%;
    
     display: flex;
    flex-direction: column;
    align-items: center;         
    justify-content: space-between; 

h1{
    color: gold;
    font-style: italic;
}

h2{
    color: white;
}

span{
    font-family: cursive;
}

.container{
    display: flex;
    background-color: black;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: flex-start;
    align-content: stretch;
    flex-direction: column;
}

.colorBox{
    display: flex;
    flex-basis: calc(100% / var(--box-divisor));
    background-color: rgb(192, 192,192);
}



.colorBox:hover{
    background-color: rgb(128, 128,128);
}

.dot{
 height: 75px;
  width: 75px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);

}

input{
    display: inline-block;
}